.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 15px;
    gap: 20px;
}

.container .card-img{
    position: relative;
}

.container .card-img img{
    width: 310px;
    height: 410px;
}

.container .text{
    position: absolute;
    bottom: 20px;
    padding: 20px;
}

.container .text h1{
    font-size: var(--font-size-title);
    font-weight: 700;
}

.container .text p{
    font-size: var(--font-size-author);
    font-weight: 400;
}